@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

.congrats {
  background-color: rgba(0, 0, 0, 0.45) !important;
}

.congrats__wrapper>div {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.congrats__wrapper {
  font-family: 'Quicksand', sans-serif;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #000;
  background: #fff;
  display: none;
  z-index: 99999;
}

.congrats__item {
  max-width: 1020px;
  position: relative;
  width: 100%;
  padding: 100px 0 160px;
  background: #fff;
}

.congrats__img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.congrats__close-img.congrats__close {
  position: absolute;
  right: 46px;
  top: 46px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.congrats__footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.congrats__block {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  max-width: 715px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.congrats__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  color: #172180;
}

.congrats__text {
  font-size: 16px;
  line-height: 24px;
  color: #171717;
  margin-top: 16px;
}

.congrats__btn {
  background: #F5F6FF;
  border-radius: 60px 60px 0px 60px;
  color: #172180;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  max-width: 460px;
  padding: 7px 0;
  width: 100%;
  margin-top: 24px;
}

.congrats__img-mob {
  display: none;
}

@media (max-width: 576px) {
  .congrats__img-mob {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  .congrats__img {
    display: none;
  }

  .congrats__title {
    font-size: 24px;
    line-height: 34px;
  }

  .congrats__text {
    font-size: 14px;
    line-height: 20px;
  }

  .congrats__btn {
    font-size: 16px;
    line-height: 26px
  }

  .congrats__item {
    height: 100%;
    padding: 0;
  }
}